
@media (max-width: 767px) {
	.main_box {
		
		border-top-left-radius: 40px;
		border-top-right-radius:40px;
		border-bottom-left-radius: none;
	}
	
	.count_box {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius:40px;
		border-bottom-left-radius: 40px;
		
	}
  }
  


body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
	font-size: 14px;
}
.botoncitosLocos{
	padding-top: 100px;
}
.pie_chart_content {
	background-image: url("../assets/img/mathBack.jpg");
	min-height: 100vh;
}
.overlay {
	background-color: #8d8d8de5;
	min-height: 100vh;
	padding-top: 120px;
	padding-bottom: 20px;
}

.pie_chart_content .container {
	background-color: white;
	border-radius: 40px;
	padding: 0px;
	max-width: 1200px;
}

.h1Title{
	
	padding: 20px;
	font-size: 28px;
	font-weight: 600;
	
	color: #8d0d35;
}

i{
	font-size: 22px;
	padding-right: 9px;
}

.main_box {
	color: #8d0d35;
	background-color: white;
	height: 100%;
	border-top-left-radius: 40px;
	border-bottom-left-radius:40px;

}

.count_box {
	background-color: #8d0d35;
	border-bottom-right-radius:40px;
	border-top-right-radius: 40px;
	height: 100%;
	color: white;
	padding: 0 37px;
}


.total-input {
	border: none;
	color: #8d0d35;
}

.form-control:disabled,
.form-control[readonly] {
	
    background-color: white;
	opacity: 1;
}

.form-control:focus {
	background-color: white;
}
.input-block {

	font-size: 15px;
}

.input-block input {
	border: 0;
}
.hidden{
    display: none;
}

/*-------*/


.imageSpace{
    margin: 30px;
}
.imageShow{
    width: 100%;
    margin: 15px 0 39px 8px;
    padding: 0 21px;
}
.selectBtn{
    background-color: white;
    color:  #8d0d35;
    border: 2px solid #8d0d35;
    border-radius: 10px;
    height: 36px;
    width: 120px;
    font-weight: 600;
}
.selectBtn:hover{
	color: white;
	background-color: #8d0d35;
	border: 2px solid #8d0d35;
}
.selectBtn:focus{
	color: white;
	background-color: #8d0d35;
	border: 2px solid #8d0d35;
}
.active{
	color: white;
	background-color: #8d0d35;
	border: 2px solid #8d0d35;
}
.qaSection{
	margin-top: 20px;
}
.qaOne{
	text-align: start;
    padding: 26px 0;
}
.qaTwo{
	text-align: start;
    padding: 26px 0;
}
.questions{
	font-size: 16px;
}
.questionThree{
	font-size: 16px;
	text-align: initial;
	
}
.questionsModSpan{
	font-size: 15px;
	
}

.chartsSelector{
	padding-top: 20px;
	font-weight: 600;
}




/*-------------------------------union------------------*/

.indexContent{
    background-image: url("../assets/img/mathBack.jpg");
	min-height: 100vh;
}
.overlayIndex{
    background-color: #8d8d8de5;
    min-height: 100vh;
	padding-top: 200px;
	padding-bottom: 200px; 
}
.main-content{
    max-width: 1380px;
}
.logoBtn{
    cursor: pointer;
}

.mainImg{
   background-color: #fffffff0;
   color: #8d0d35;
   max-width: 100%;
   border-radius: 21px;
   padding: 10px 25px 32px 25px;
}
.imgContainer{
    max-width: 420px;
    margin: 20px;
}
.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textBox{
    margin: 8px 9px 0 9px;
}
.moduleBtn{
    border: 2px solid white;
    background-color: #8d0d35;
    color: white;
    margin: 10px 0 30px 0px;
    padding: 12px;
    font-size: 20px;
}
.moduleBtn:hover{
    border: 2px solid #8d0d35;
    background-color: white;
    color: #8d0d35;
}
.previewImg{
    width: 75%;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 25px;
}
.previewImg:hover{
    opacity: 0.6;
    background-color: #ffffff;
    border-radius: 22px;
    cursor: pointer;
}
.hidden{
    display: none;
}
.mainHeader{
    position: absolute;
    background-color: white;
    width: 100%;
}
/*__________________instructions________*/


.instructions{
	padding-top: 20px;
	text-align: initial;

}
.intro{
	font-style: italic;
	font-size: 16px;
	font-weight: 600;
	color: white;
}
.instructionsText{
	font-style: italic;
	font-size: 12px;
	color: #e1e1e1;
}
.instructionsFour{
	text-align: initial;
	display: flex;
	justify-content: center;
	align-items: center;
	
}





/*-------------------------module 3 */

.graphicsContainer{
    width: 100%;
}
.normalImage{
    width: 100%;
}
.logImage{
    width: 100%;
}

.questionsMod{
    margin-bottom: 40px;
}

.footer{
    color: #8d0d35;
    padding: 10px 10px 42px 10px;
    background-color: #ffffff31;
}

/*-----Module 4 -----------*/

.containerModule{
	color: #8d0d35;
}

.insideContainer{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: white;
	width: 70%;
	max-width: 1200px;

}
.insideContainerContLast{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;
	width: 70%;
	max-width: 1200px;
}
.insideContainerCont{
	background-color: white;
	width: 70%;
	max-width: 1200px;
}
.mainTitle{
	padding-top: 20px;
}
.instructionsMfour{
	font-size: 18px;
	font-weight: 600;
}
.qaSectionMfour{
	padding-top: 20px;
	background-color: #8d0d35;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.qaSectionMfourLast{
	background-color: #8d0d35;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.qaContainer{
	text-align: left;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}


/*----------barra de grafico----------*/
.movingBar{
	
	width: 343px;
	position: absolute;
  	z-index: 9;
  	text-align: center;
  	cursor: move;
  	

}
.movingBarSecond{
	
	width: 290px;
	position: absolute;
  	z-index: 9;
  	text-align: center;
  	cursor: move;
  	

}


.barritae{
	width: 100%;	
}
.overFlow{
	overflow: hidden;
	z-index: 100;
	position: relative;
}
.graphOneInn{
	position: relative;
    bottom: 12px;
	width: 430px;
	top: -2px;
	margin: 75px;
}
.graphTwoInn{
	position: relative;
    bottom: 12px;
	width: 430px;
	top: -2px;
	margin: 75px;
}

/*--------------------*/

.textForInstructions{
	font-style: italic;
	padding-left: 36px;
	text-align: initial;
	color: #8d0d35;
	background-color: rgba(255, 255, 255, 0.575);
	width: 50%;
	border-left: 5px solid #8d0d35;
	padding-top: 12px;
	padding-right: 10px;
	
}
.textForInstructions__text{
	font-size: 19px;
}

/*-----------------*/

.option_box{
	height: 140px;
	display: flex;
 	justify-content: center;
	align-items: center;
}


/*--------pagination---------*/

.pagination{
	justify-content: center;
}
.pagination ul {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
	color: #ffffff;
	background-color: #8d0d35;
	padding: 8px;
	border-radius: 50px;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
	}
	.pagination ul li {
		
		list-style: none;
		line-height: 45px;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;
		user-select: none;
		transition: all 0.3s ease;
	}
	.pagination ul li.numb{
		list-style: none;
		height: 45px;
		width: 45px;
		margin: 0 3px;
		line-height: 45px;
		border-radius: 50%;
	}
	.pagination ul li.numb.first {
		margin: 0px 3px 0 -5px;
	}
	.pagination ul li.numb.last{
		margin: 0px -5px 0 3px;
	}
	.pagination ul li.dots {
		font-size: 22px;
		cursor: default;
	}
	.pagination ul li.btn{
		padding: 0 20px;
		border-radius: 50px;
	}
	.pagination li.active,
	.pagination ul li.numb:hover,
	.pagination li:first-child:hover,
	.pagination ul li:last-child:hover{
		color: #8d0d35;
		background-color: #ffffff;
	}


	/*--------------------____________----------___________---------*/

	

	/*-------------imagenes de matlab ---------*/

	.matImages img{
		width: 75%;
	}

	.contextImg img{
		width: 100%;
		margin: 15px;
	}
	.contextImgTwo img{
		width: 80%;

	}
	.axiss{
		position: relative;
		left: 28px; 
		-moz-transform: rotate(-90deg);
	}
	.imgStatic{
		width: 79%;
		margin: 18px;
		padding-bottom: 13px;
	}


/*----------------------------*/
.sliderSection{
	width: 57%;
	background-color: #8383834d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 28px;
	margin-bottom: 25px;
	border-radius: 12px;
}
/* style range */
input[type=range] {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
}


/* style datalist */
input[type=range] + datalist {
	display: flex;
	margin-top: -4px;
	justify-content: space-between;
}
input[type=range] + datalist option {
    display: inline-block;
    width: calc((100% - 12px) / (var(--list-length) - 1));
    text-align: center;
}
input[type=range] + datalist option:first-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: left;
}
input[type=range] + datalist option:last-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: right;
}

.moduleFiveOne{
	text-align: justify;
	font-size: 16px
}
.sideText{
	padding-bottom: 36px;
	margin: 8px;
}